header, footer {
    background-color: #1079e3;
    color: rgb(254, 175, 2);
    text-align: center;
    padding: 1rem;
    font-weight: bold;
}
.top
{
    display: flex;
    gap: 1000px
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    background-image: url("food.gif");
    background-size: 100%;
    flex: 1;
    padding: 2rem;
}